# Dependencies
node_modules/
package-lock.json

# React Router
/.react-router/
/build/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Testing
coverage/
.jest-cache/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
*.swp
*.swo

# Build
dist/
build/